.edit-form-fields{
    display: flex;
    flex-direction: column;
    padding: 20px;
}


.edit-form{
    border-radius: 5px;
    background-color: rgb(115, 131, 141);
    width: 300px;
    height: 193px;
}

.edit-album-input{
    border-radius: 5px;
   margin: 10px;
}

.edit-add{
    border-radius: 5px;
    border-radius: 5px;
    background-color: rgb(18, 143, 220);
    width: 73px;
    height: 38px;
}
.edit-cancel{
    border-radius: 5px;
    border-radius: 5px;
    background-color: rgb(224, 97, 58);
    width: 73px;
    height: 38px;
}