.login-form-layout {
   
    max-width: 450px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.login-form-fields{
    display: flex;
    flex-direction: column;
    padding: 20px;
}


.login-form{
    border-radius: 5px;
    background-color: rgb(115, 131, 141);
    width: 300px;
    height: 193px;
}

.login-form-input{
border-radius: 5px;
   margin: 10px;
}
